.App {
  text-align: center;
  padding-bottom: 50px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Social-icon {
  width: 48px;
  height: 48px;
  padding: 12px 24px;
}

section {
  color: white;
}

#projects {
  margin: 50px;
}
