.App {
  text-align: center;
  padding-bottom: 50px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Social-icon {
  width: 48px;
  height: 48px;
  padding: 12px 24px;
}

@keyframes slide-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  color: rgba(255, 255, 255, 0.87);
  animation: slide-down 1.7s cubic-bezier(0.23, 1, 0.32, 1) both;
}

section {
  color: white;
}

#projects {
  margin: 50px;
}
