.App {
  text-align: center;
}

.App-logo {
  margin: 20px;
  height: 40vmin;
  min-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: none;
}

.App-header {
  margin-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#333;
}

.App-link {
  color: #61dafb;
}

.Social-icon {
  width: 48px;
  height: 48px;
  padding: 12px 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
